
table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    border-left: solid 1px #444;
    border-right: solid 1px #444;
}
  
thead {
    text-align: center;
    
}

th,td {
    border: solid 1px #444;
    padding: 5px 0;
    line-height: 1.5;
    background-color: white;
    text-align: center;
}

th {
    border-top: solid 1px #444;
    background-color: black;
    color:white;
}

th span {
    margin-left: 10px;
}